.flex{
    display: flex;
}
.gap{
    gap: 10px;
}
.item{
    align-items: center;
}
.center{
    justify-content: center;
}
.gradient{
    background-image: linear-gradient(to right, #e65425, #e96d2a, #ec8334, #ee9841, #f0Ab51, #ee9841, #ec8334, #e96d2a, #e65425, #e96d2a, #ec8334, #ee9841, #f0Ab51);
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
}