@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;

}

:root {
    --main-bg: #1aa9e5;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: "Roboto";
}

.top-wrapper {
    background-color: #005085;

}

.top-head {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;

}

#lang {
    background-color: transparent;
    border: none;
}

.left-box a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-box {
    display: flex;
}

.right-box a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-head {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.logo-box {
    display: flex;
    gap: 6px;
}

.logo {
    font-size: 24px;
    color: #005085;
}

#nav {
    color: black;
    border: none;
    outline: none;
}

.midle-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

li {
    list-style: none;
    margin-left: 10px;

    color: black;
}

#get-started {
    background-color: var(--main-bg);
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    color: white;
}

.bar {
    display: none;
}

.offcanvas {
    top: 66px;
    width: 312px;
    margin: auto;
    height: 100%;
}

.wrapper {
    background-color: #f5f6fb;
    background-image: url("/Images/HeroCar.png");
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 60px;
}


.hero {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}
.left-hero{
    width:33%;

}
.left-hero h2{
    font-size: 45px;
    font-weight: 900;
}
.left-hero button {
    background-color: transparent;
    border: none;
}









@media screen and (max-width:768px) {
    .hidden {
        display: none;
    }

    .top-wrapper{
        padding: 0 12px;
    }
    .bottom-head{
        padding: 0 12px;
    }

    .bar {
        display: inline;
    }
    .left-hero{
        padding: 0 12px;
        width: 100%;
    }
    .hero{
        background-color: #ffffff77;
    }


}